<div  class="shadow p-3 mb-5 bg-white" style="padding: 20px;">
    <h4><%= post.title %></h4>
    
    <p class="lead"><%= post.body %></p>
    <hr>
    <h6>by <a href="/user/<%=post.author%>"><span class="badge badge-secondary"><%=post.author%></span></a> 
        

        <% if(post.is_private) { %> 
        <span class="badge badge-warning">Private</span>
        <% } else { %>
        <span class="badge badge-primary">Public</span>
        <% } %>
    
    </h6>
</div>