<div  class="jumbotron" style="padding: 20px;">
    <h5 style="text-align:center"><%= title %> </h5>
    <hr>
    
    <p class="lead"><%=content %></p>
    <hr>
    <h6>by <a href="/user/<%=author%>"><span class="badge badge-secondary"><%=author%></span></a></h6>
</div>