<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<main>
    <div class="jumbotron shadow p-3 mb-5 bg-white rounded" style="margin-top: 25px;">
        <h1>Register</h1>
        <p>We just need some of your info to get started...</p>
        
        <% if (typeof message !== 'undefined' ) { %>
            <p style="font-size: small; color: red;"><%= message %></p>
            <% } %>

        <form action="/register" method="post">
            <label>Username</label><br>
            <input name="username" type="text"><br>
            <label>Email Address</label><br>
            <input name="email" type="text"><br>
            <label>Password</label><br>
            <input name="password" type="text"><br><br>
            <input type="submit" value="Register">
        </form>
    </div>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>